#container {
  position: relative;
}
html, body {
  max-width: 100%;
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
}

#links {
  margin-top: 20px;
}

.about {
  display: inline-block;
  padding-left: 15px;
  margin-right: 20px; 
}
   
.gmail, .images {
  float: right;
  margin-right: 25px;
}

.images {
  float: right;
  margin-right: 20px;
}

.pix {
  max-width: 100%;
}

img {
  display: inline-block;
  margin-left: 40%;
  margin-right: 50%;
  width: 20%;
  padding-top: 200px;
}

.search-bar input[type=text] {
  display: inline-block;
  margin-left: 31%;
  margin-top: 20px;
  padding: 15px;
  font-size: 17px;
  padding-right: 310px;
  border-radius: 25px;
  border-style: solid;
}

.buttons {
  display: inline-block;
  margin-left: 40%;
  margin-top: 30px;
  cursor: pointer;
}

button {
  padding: 15px;
  font-size: 17px;
  background-color: rgba(128,128,128, 0.2);
  border-radius: 5px;
  border-style: none;
}

.google-button {
  margin-right: 10px;
}

.footer {
  position: fixed;
  background-color: rgba(128,128,128, 0.2);
  padding: 17px;
  font-size: 17px;
  width: 100%;
  top: 780px;
  padding-left: 17px;
  white-space: nowrap;
}


.advertising, .business, .how-search-works, .privacy, .terms, .settings {
  opacity: 0.55;
  padding-left: 27px;
}

.advertising, .business, .how-search-works {
  padding-left: 27px;
}

.how-search-works {
 margin-right: 780px;
}


